@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Olá seja bem-vindo!</h1>
    <p class="lead">Selecione abaixo o módulo que deseja acessar:</p>
    <p>@Html.ActionLink("Acadêmicos", "Index", "Academicoes")</p>
</div>
